#include <windows.h>
#include "uberfxVersion.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
VS_VERSION_INFO VERSIONINFO
FILEVERSION     UBERJAVA_VERSION_MAJOR, UBERJAVA_VERSION_MINOR, 9999,0
PRODUCTVERSION  UBERJAVA_VERSION_MAJOR, UBERJAVA_VERSION_MINOR, 9999, 0
FILEFLAGSMASK   0L
FILEFLAGS       0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN

BEGIN
        BLOCK "StringFileInfo"
        BEGIN
                BLOCK "040904B0"
                BEGIN
						VALUE "FileVersion", "DEVELOPMENTVERSION\0"
                        VALUE "ProductVersion", "DEVELOPMENTVERSION\0"
                        VALUE "OriginalFilename", "uberfx.dll\0"
                        VALUE "InternalName", "uberfx.dll\0"
                        VALUE "FileDescription", "UberFX\0"
                        VALUE "CompanyName", "NetAllied Systems GmbH\0"
                        VALUE "LegalCopyright", "© NetAllied Systems. All rights reserved.\0"
                        VALUE "ProductName", "UberJava\0"
                END
        END

        BLOCK "VarFileInfo"
        BEGIN
                VALUE "Translation", 0x409, 0x4B0
        END
END
